input, textarea{
  max-width: 70%;
}

.btn-cancel{
  background-color:rgb(165, 137, 131); ;
  color: white;
  box-shadow: 0 8px 8px  rgba(0, 0, 0, 5);
}

.btn-save{
  background-color: rgb(19, 151, 19);
  color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 5);
}

.btn-save:hover, .btn-cancel:hover{
  background-color:#42414171;
  color:rgb(0, 0, 0);
}
