<div class="content">
  <form action="">
    <div class="form-group">
      <label for="recipient-name" class="col-form-label">Nombre del estado:</label>
      <input type="text" class="form-control" id="recipient-name" placeholder="Ingrese el estado" #status>
    </div>
    <div class="form-group">
      <label for="message-text" class="col-form-label">Descripción del estado:</label>
      <textarea class="form-control" id="message-text" #desc></textarea>
    </div>
  </form>
  <div class="example-button-row">
    <button type="button" class="btn btn-save" (click)="save(status.value, desc.value)">Guardar</button>
    &nbsp; &nbsp;
    <button type="button" class="btn btn-cancel">Borrar</button>
  </div>
</div>
