/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.container{
  min-height: calc(100vh - 50px - 50px);
}

h1, h4, h3, h5, p, a{
  font-family: Exo;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}


