<div class="d-flex justify-content-between nav-container">
  <nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMenu"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/calls">
            <span>Ofertas de empleo</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/status">
            <span>Aspirantes</span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/status">
            Historial de convocatorias
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Configuraciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/tab-status">Estados</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="./page/prueba.html">Nosotros</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
