.c-footer {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0.5rem 1rem;
  background: radial-gradient(circle at top left, #ffffff, #2f3233);
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #fc4c63;
}
