<app-navigation></app-navigation>
<app-jumbotron [message] = "messageHeader"></app-jumbotron>
<div class="container">
  <div class=" d-flex flex-wrap">
    <div class="card-service d-flex flex-column justify-content-between ml-4">
      <div>
        <h3>Sedes</h3>
        <p>
         Hacemos presencia en Colombia, Centro America y los Estados unidos.
        </p>
      </div>
    </div>
    <div class="card-service d-flex flex-column justify-content-between ml-4">
      <div>
        <h3>Clientes</h3>
        <p>
          Desarrollamos software a la medida para clientes que se destacan en la parte financiera
          Bancos, Clinicas, peajes, entre otros.
        </p>
      </div>
    </div>
    <div class="card-service d-flex flex-column justify-content-between ml-4">
      <div>
        <h3>Arquitectura</h3>
        <p>
         Trabajamos con las herramientas mas avenzadas y las que sean requeridas segun el proyecto.
         Oracle, Postgres SQL, Java, Php, entre otras.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <section class="pageContent">
      <div class="example-button-row">
        <button type="button" class="btn btn-noe"> Nuestras Ofertas de empleo</button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button type="button" class="btn btn-post"> Postulate a una oferta de empleo</button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <button type="button" class="btn btn-req">Requerimientos para cada oferta</button>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
    </section>
  </div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
