
.card-service{
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 50px;
  max-width: 300px;

}

.pageContent {
  padding: 60px;
}

.btn-noe{
  background-color:rgb(245, 81, 6);
  color: white;
  box-shadow: 0 8px 8px  rgba(0, 0, 0, 5);
}

.btn-post{
  background-color: rgb(19, 151, 19);
  color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 5);
}

.btn-req{
  background-color: rgb(168, 170, 36);
  color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 5);
}

.btn-noe:hover, .btn-post:hover, .btn-req:hover{
  background-color:#42414171;
  color:rgb(0, 0, 0);
}
