.card-memb{
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  max-width: 300px;

}

.card-header{
  background-color: rgb(245, 81, 6);
  color: rgb(255, 255, 255);
}

.btn-edit{
  background-color: rgb(19, 151, 19);
  color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 5);
  width: 100%;
}

.btn-edit:hover{
  background-color:#42414171;
  color:rgb(0, 0, 0);
}
