<div class="d-flex flex-wrap ">
  <div class="card card-memb d-flex flex-column justify-content-between ml-2" *ngFor="let statusItem of status">
    <div class="card-header">
      <h5 class="card-title">Información</h5>
    </div>
    <div class="card-body">
      <ul>
        <li>
          <h5>Estado</h5>
          <p>{{statusItem.name}}</p>
        </li>
        <li>
          <h5>Descripción</h5>
          <p>{{statusItem.description}}</p>
        </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-edit" id="openModal" data-toggle="modal" data-target="#update-status">Editar</a>
    </div>
  </div>
</div>
<div class="modal fade" id="update-status" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
  <app-update-status></app-update-status>
</div>
