<app-navigation></app-navigation>
<app-jumbotron [message]="messageHeader"></app-jumbotron>
<div class="container">
  <ul class="nav nav-pills" id="myTab" role="tabList">
    <li class="nav-item">
      <a class="nav-link active" href="#status" id="status-tab" data-toggle="pill" role="tab" aria-controls="status"
        aria-selected="true">
        Crear Estado
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#list-status" id="list-status-tab" data-toggle="pill" role="tab"
        aria-controls="list-status" aria-selected="false">
        Ver todos los estados
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status-tab">
      <app-create-status></app-create-status>
    </div>
    <div class="tab-pane fade show" id="list-status" role="tabpanel" aria-labelledby="historial-tab">
      <app-list-status></app-list-status>
    </div>
  </div>
</div><br>
<app-footer></app-footer>
